<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body th:object="${foto}" class="bg-dark">

	<container class="text-white offset-3 col-6">
		<a href="/"  class="col-2 ms-4 btn btn-danger d-block">Torna al menu principale</a>
	<div class="my-5 text-center">
		<h2> [[*{titolo}]]</h2>
		<p>[[*{descrizione}]]</p>
		<img class="img-fluid" th:src="*{url}" alt="la foto piu bella del mondo">
	</div>	
	</container>

</body>
</html>