<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body class="bg-dark text-white">
	<container class="my-5">

	<h1 class="text-center text-warning">FOTOGRAFIA EUROPA</h1>
	<a class="offset-8 btn btn-success text-white my-2" href="/foto/admin/create"
		sec:authorize="hasAuthority('Admin')" type="button"><h5>Crea la tua nuova FotoRicordo preferita!</h5></a>
	<a class="offset-8 btn btn-success text-white" href="/admin/category"  type="button"><h5>Vai alle tue categorie!</h5></a>
	<h3 class="text-center"><strong>MENU FOTOGRAFO</strong></h3>
	<div class="d-flex offset-2 col-8">
		<ul class="list-unstyled">
			<li
				th:each="foto : ${foto}"
				th:object="${foto}">
				<span class="invisible">([[*{id}]])</span><br><strong>[[*{titolo}]]</strong><br>
				[[*{descrizione}]]<br th:if="*{descrizione}">
				<img th:src="*{url}">
				<ul class="list-unstyled my-4">
				<h5>Categoria/e:</h5>
					<li
					 th:each="category : *{categories}" th:object="${category}">[[*{nome}]]
					</li>
				</ul>
				<div sec:authorize="hasAuthority('Admin')">
					<a class="btn btn-success text-white" th:href="@{/foto/{id} (id=*{id})}">VEDI NEL DETTAGLIO LA TUA FOTO</a>
					<a class="btn btn-warning text-white" th:href="@{/foto/admin/update/{id} (id=*{id})}">MODIFICA LA TUA FOTO</a> 
					<a class="btn btn-danger text-white" th:href="@{/foto/admin/delete/{id} (id=*{id})}">CANCELLA DAL MENU LA TUA FOTO</a>
				</div>
				
			</li>
		</ul>
		</div>
	</container>
</body>
</html>